<script type="text/ng-template" id="auteurSearchTemplate.html">
    <a>
        <img src="{{match.model.Photo}}" width="40" />
        <span bind-html-unsafe="match.model.Prenom | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Nom | typeaheadHighlight:query"></span>
    </a>
</script>


<div class="viewContainer"  ng-init="init()" layout="column">

    <md-list class="menuBar" layout="row" layout-align="center center">

        <md-item id="searchitem" style="z-index:50">
            <div id="searchIcon" class="md-icon-container ">
                <md-icon md-svg-src="images/search.svg"></md-icon>
            </div>
            <p class="toobar-button-label">Recherche</p>
            <input type="text"
                   id="search2"
                   ng-model='searchedText'
                   ng-change='validateSearch($viewValue)'
                   typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
                   typeahead-loading="loadingSearchSuggestions"
                   typeahead-template-url="livreSearchTemplate.html"
                   typeahead-wait-ms="300"
                   typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
                   class="form-control form-control-inline transparentInput" />
        </md-item>

    </md-list>


    <div class="filter-terms filter-terms-author" layout="row" layout-align="center center">
        <div class="tags repeat-item" ng-repeat="searchItem in searchItems">
            <button ng-click="removeFilter(searchItem)" class="btn filterButton">
                {{searchItem.value}}
                <md-icon class="md-icon filter-terms-icon" md-svg-src="images/close.svg"></md-icon>
            </button>
        </div>
    </div>



    <div id="booksContainer" class="tilesContainer u-fancy-scrollbar">
        <div class="tile tile-author isotopey tile-admin f-{{::item.Nom|lowercase}} f-{{::item.Prenom|lowercase}}"
             ng-repeat="item in items"
             isotopethis sort="nom" ng-click="select(item, 'lg', $event)">
            <div class="inner-tile">
                <!--<img class="author-image" src="{{::item.Photo}}" ng-show="::item.Photo" />-->

                <div class="round">
                    <img src="{{::item.Photo}}" ng-show="::item.Photo" />
                    <i class="fa fa-user fa-6 inner-placeholder author-placeholder" ng-hide="::item.Photo" />
                </div>
                <!--<img class="tile-image" ng-show="selectedItem.Photo" style='background-image: url({{::selectedItem.Photo}})' />-->


              

            </div>

            <div class="tile-text-wrapper">
                <p class="tile-text">{{::item.Prenom}} {{::item.Nom|uppercase}}</p>
            </div>
        </div>
    </div>
       



</div>
<script>
    // prevent a bug on IPAD where scroll is not working 
    $('#booksContainer').height($('body').height() - ($('.navbar-brand').outerHeight() + $('md-tabs').outerHeight() + $('.menuBar').outerHeight() + $('.filter-terms').outerHeight()));


    var layoutMode = 'masonryHorizontal'
    if ($(window).width() < 500) {
        layoutMode = 'masonry';
    }

    var $container = $('.tilesContainer');
    $container.isotope({
        layoutMode: layoutMode,
        itemSelector: '.isotopey',
        masonry: { rowHeight: 230 },
        getSortData: {
            nom: function (elem) {
                var scope = $(elem).scope();
                if (scope && scope.item && scope.item.Nom) {
                    return scope.item.Nom.toLowerCase();
                }
                // permet aux auteurs n'ayant pas de nom d'être ajouté au début de la liste
                return "aaaaaa";
            }
        },

        sortAscending: false,
    });


    // Ripple click effect
    var parent, ink, d, x, y;
    $("ul li a").click(function (e) {

        parent = $(this).parent();
        //create .ink element if it doesn't exist
        if (parent.find(".ink").length == 0)
            parent.prepend("<span class='ink'></span>");

        ink = parent.find(".ink");
        //incase of quick double clicks stop the previous animation
        ink.removeClass("animate");

        //set size of .ink
        if (!ink.height() && !ink.width()) {
            //use parent's width or height whichever is larger for the diameter to make a circle which can cover the entire element.
            d = Math.max(parent.outerWidth(), parent.outerHeight());
            ink.css({ height: d, width: d });
        }

        //get click coordinates
        //logic = click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center;
        x = e.pageX - parent.offset().left - ink.width() / 2;
        y = e.pageY - parent.offset().top - ink.height() / 2;
        //set the position and add class .animate
        ink.css({ top: y + 'px', left: x + 'px' }).addClass("animate");
    })
</script>
