

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <!--<img ng-src="match.model.Nom" width="16">-->
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Prenom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="livreSearchTemplate.html">
    <a>

        <img src="{{match.model.imageUrl}}" width="40" />
        <span bind-html-unsafe="match.model.Titre | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Prenom | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Nom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="simpleSuggestionTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.Value | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="md-icon-container sendFP animate-show" ng-show="checkboxFichePedagogiques">
    <a href="mailto:etm@editions-thierry-magnier.com">Soumettre vos outils pédagogiques</a>
</div>


<div class="viewContainer" ng-init="init()">
   
    

    <md-list class="menuBar" layout="row" layout-align="center center">

        <md-item>
            <md-select ng-model="niveauLecture">
                <md-select-label>
                    <md-button id="NiveauxButton" class="md-primary md-grid-item-content"
                               aria-label="Niveaux">
                        <div class="md-icon-container">
                            <md-icon md-svg-src="images/niveaux.svg"></md-icon>
                        </div>
                        <p class="toobar-button-label">Niveaux</p>
                    </md-button>
                </md-select-label>
                <md-option value="">Tous niveaux</md-option>
                <md-option value="premierspas">lecteur *</md-option>
                <md-option value="debutants">lecteur **</md-option>
                <md-option value="confirmes">lecteur ***</md-option>
            </md-select>

        </md-item>

        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="Fiche pédagogiques"
                       ng-change="searchFichePedagogiques()"
                       ng-model="checkboxFichePedagogiques">
                <div class="md-icon-container">
                    <md-icon md-svg-src="images/pedago.svg"></md-icon>
                </div>

                <p class="toobar-button-label">
                    Fiches
                </p>
                <p style="margin-top:15px" class="toobar-button-label">
                    pédagogiques
                </p>
            </md-button>
           
        </md-item>

       

        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="E-books"
                       ng-change="searchEBook()"
                       ng-model="checkboxSearchEBook">
                <div class="md-icon-container">
                    <md-icon md-svg-src="images/ebook2.svg"></md-icon>
                </div>

                <p class="toobar-button-label">E-books</p>
            </md-button>

        </md-item>

        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="Prix littéraires"
                       ng-change="searchPrixLitteraires()"
                       ng-model="checkboxPrixLitteraire">
                <div class="md-icon-container">
                    <md-icon md-svg-src="images/prix.svg"></md-icon>
                </div>
                <!--<ng-md-icon class="md-icon-container" icon="search" size="34" alt="search">-->
                <p class="toobar-button-label">Prix littéraires</p>
            </md-button>

        </md-item>


        <!--<div multi-select
             style="position:relative"
             class="transparent-multi-select-input"
             input-model="parentScope.tags"
             button-label="Name"
             item-label="Name"
             tick-property="ticked"
             helper-elements="reset"
             output-model="parentScope.themeMultiselectmodel"
             default-label="Themes"
             on-item-click="parentScope.filtreThemes()">
        </div>

            <div layout="column" layout-align="center center" style="height: 100px;">
                <md-select ng-model="parentScope.themeMultiselectmodel"
                           multiple="true"
                           style="min-width: 200px;">
                    <md-select-label>{{ parentScope.themeMultiselectmodel.length > 0 ? theme.Name : 'Themes' }}</md-select-label>
                    <md-option ng-value="parentScope.theme" ng-repeat="theme in parentScope.tags">{{theme.Name}}</md-option>
                </md-select>
            </div>-->

        <md-item>
            <md-select ng-model="themeMultiselectmodel" multiple="true">
                <md-select-label>
                    <md-button id="ThemesButton" class="md-primary md-grid-item-content"
                               aria-label="Thèmes">
                        <div class="md-icon-container">
                            <md-icon md-svg-src="images/themes.svg"></md-icon>
                        </div>
                        <p class="toobar-button-label">Thèmes</p>
                    </md-button>
                </md-select-label>
                <md-option ng-value="theme" ng-repeat="theme in tags | orderBy:'Name'">{{theme.Name}}</md-option>
            </md-select>
        </md-item>

        <!--ng-click="toggleSearch()"-->
        <md-item id="searchitem"  style="z-index:50">
            <!--<md-button id="searchbutton" class="searchButton  md-primary md-grid-item-content"
                       aria-label="Recherche">
               ...
            </md-button>-->
            <div id="searchIcon" class="md-icon-container ">
                <md-icon md-svg-src="images/search.svg"></md-icon>
            </div>
            <p class="toobar-button-label">Recherche</p>
            <input type="text"
                   id="search2"
                   ng-model='searchedText'
                   ng-change='validateSearch($viewValue)'
                   typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
                   typeahead-loading="loadingSearchSuggestions"
                   typeahead-template-url="livreSearchTemplate.html"
                   typeahead-wait-ms="300"
                   typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
                   class="form-control form-control-inline transparentInput" />
        </md-item>

    </md-list>


    <div class="filter-terms" layout="row" layout-align="center center">
        <div class="tags repeat-item" ng-repeat="searchItem in searchItems">
            <button ng-click="removeFilter(searchItem)" class="btn filterButton">
                {{searchItem.value}}
                <md-icon class="md-icon filter-terms-icon" md-svg-src="images/close.svg"></md-icon>
            </button>
        </div>

        <div class="tags repeat-item" ng-repeat="item in themeMultiselectmodel">
            <button ng-click="removeFilterTheme(item)" class="btn filterButton">
                {{item.Name}}
                <md-icon class="md-icon filter-terms-icon" md-svg-src="images/close.svg"></md-icon>
            </button>
        </div>
    </div>

        <div id="booksContainer" class="tilesContainer u-fancy-scrollbar">
            <!--| orderBy:'Index':true-->
            <div class="tile isotopey {{::item.Titre && 'fil-'+item.Titre || '' | lowercase | nospace}} {{::item.Auteur.Prenom && 'fil-'+item.Auteur.Prenom || ''  | lowercase | nospace}}
                 {{::item.Auteur.Nom && 'fil-'+item.Auteur.Nom || '' | lowercase | nospace}}
                 {{::item.PrixLitteraires && 'fil-prix' || ''}}
                 {{::item.EBookUrl && 'fil-ebook' || ''}}
                 {{::item.FichePedago && 'fil-pedago' || ''}}
                 {{::item.NiveauLecture && 'fil-'+item.NiveauLecture || '' | lowercase | nospace}}
                 {{::item.Tags && item.Tags || '' | filterString}} "
                ng-repeat=" item in items"
                 isotopethis sort="date" ng-click="select(item, 'lg', $event)">
                <!--href="#responsive" data-toggle="modal"-->



                <img class="tile-image" src="{{::apiRootUrl}}/{{::item.Couverture}}" />

                <!--<div class="moreInfoButtonWrapper bottomLeft" ng-show="::item.PrixLitteraire">
                        <md-icon title="{{::item.PrixLitteraire}}" class="md-icon" md-svg-src="images/prix.svg"></md-icon>
                </div>

                <div class="moreInfoButtonWrapper bottomRight">
                    <a class="icon-button" ng-show="::item.EBookUrl" href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.EBookUrl}}"
                        target="_blank" title="E-book">
                        <md-icon class="md-icon" md-svg-src="images/ebook2.svg"></md-icon>
                    </a>

                    <a class="icon-button" ng-show="::item.FichePedago" href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.FichePedago}}"
                        target="_blank" title="Fiche pédagogique">
                        <md-icon class="md-icon" md-svg-src="images/pedago.svg"></md-icon>
                    </a>
                </div>-->

            </div>
        </div>
</div>



<script>



    //$("#menu-toggle").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //});
    //$("#page-content-wrapper").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").removeClass("toggled");
    //    $("#search").removeClass("toggled");
    //    $(".searchSideBar").removeClass("toggled");
    //});


    //$(".searchSideBar").focusin(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").addClass("toggled");
    //    $("#search").addClass("toggled");
    //    $(".searchSideBar").addClass("toggled");
    //});

    // prevent a bug on IPAD where scroll is not working 
    $('#booksContainer').height($('body').height() - ($('.navbar-brand').outerHeight() + $('md-tabs').outerHeight() + $('.menuBar').outerHeight() + $('.filter-terms').outerHeight()));
  

    var $container = $('.tilesContainer');
    var layoutMode = 'masonryHorizontal'
    if ($(window).width() < 500) {
      layoutMode = 'masonry';
    }

    // change layout mode
    //$container.isotope({ layoutMode: "masonryHorizontal" });
    $container.isotope({
        layoutMode: layoutMode,
        itemSelector: '.isotopey',
        masonry: { rowHeight: 230 },
        getSortData: {
            //weight: function (itemElem) { // function
            //    if (!$(itemElem).scope())
            //        return 0;
            //    if ($(itemElem).scope().item) {
            //        //console.log($(itemElem).scope().item.Index);
            //        return parseFloat($(itemElem).scope().item.Index);
            //    } else {
            //        var weight = $(itemElem).find('.index').text();
            //        //console.log(weight);
            //        return parseFloat(weight.replace(/[\(\)]/g, ''));
            //    }


            //}
            date: function (elem) {

                var scope = $(elem).scope();
                if (!scope)
                    return 0;
                if (scope.item && scope.item.datePublication) {
                    return Date.parse(scope.item.datePublication);
                }
                return 0;
            }
        },




        //sortBy: 'date',
        sortAscending: false,
        // transitionDuration: 0
        // transformsEnabled: true,
        //onLayout: function () {
        //    $container.css('overflow', 'visible');
        //}
    });


    // Ripple click effect
    var parent, ink, d, x, y;
    $("ul li a").click(function (e) {

        parent = $(this).parent();
        //create .ink element if it doesn't exist
        if (parent.find(".ink").length == 0)
            parent.prepend("<span class='ink'></span>");

        ink = parent.find(".ink");
        //incase of quick double clicks stop the previous animation
        ink.removeClass("animate");

        //set size of .ink
        if (!ink.height() && !ink.width()) {
            //use parent's width or height whichever is larger for the diameter to make a circle which can cover the entire element.
            d = Math.max(parent.outerWidth(), parent.outerHeight());
            ink.css({ height: d, width: d });
        }

        //get click coordinates
        //logic = click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center;
        x = e.pageX - parent.offset().left - ink.width() / 2;
        y = e.pageY - parent.offset().top - ink.height() / 2;
        //set the position and add class .animate
        ink.css({ top: y + 'px', left: x + 'px' }).addClass("animate");
    })
</script>
