<script type="text/ng-template" id="customTemplate.html">
    <a>
        <!--<img ng-src="match.model.Nom" width="16">-->
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Prenom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="livreSearchTemplate.html">
    <a>

        <img src="{{match.model.imageUrl}}" width="40" />
        <span bind-html-unsafe="match.model.Titre | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Prenom | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Nom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="simpleSuggestionTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.Value | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="viewContainer" ng-controller="livreController" ng-init="init()" layout="column">

    <md-list class="menuBar" layout="row" layout-align="center center">

        <md-item id="searchitem" ng-click="toggleSearch()">
            <md-button id="searchbutton" class="searchButton  md-primary md-grid-item-content"
                       aria-label="Recherche">
                <!--<div id="searchIcon" class="md-icon-container toggled">
                    <md-icon md-font-icon="fa-search" class="fa"></md-icon>
                </div>-->
                <div id="searchIcon" class="md-icon-container ">
                    <md-icon md-svg-src="../images/search.svg"></md-icon>
                </div>
                <p class="md-grid-text">Recherche</p>
                <input type="text"
                       id="search2"
                       ng-model='$parent.searchedText'
                       ng-change='validateSearch($viewValue)'
                       typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
                       typeahead-loading="loadingSearchSuggestions"
                       typeahead-template-url="livreSearchTemplate.html"
                       typeahead-wait-ms="300"
                       typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
                       class="form-control form-control-inline transparentInput" />
            </md-button>

        </md-item>

        <md-item>
            <md-select ng-model="niveauLecture">
                <md-select-label>
                    <md-button id="NiveauxButton" class="md-primary md-grid-item-content"
                               aria-label="Niveaux">
                        <div class="md-icon-container">
                            <md-icon md-svg-src="../images/themes.svg"></md-icon>
                        </div>
                        <p class="md-grid-text">Niveaux</p>
                    </md-button>
                </md-select-label>
                <md-option value="">Tous niveaux</md-option>
                <md-option value="premierspas">Permiers pas</md-option>
                <md-option value="debutants">Débutants</md-option>
                <md-option value="confirmes">Confirmés</md-option>
            </md-select>

        </md-item>

        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="Fiche pédagogiques"
                       ng-change="searchFichePedagogiques()"
                       ng-model="checkboxFichePedagogiques">
                <div class="md-icon-container">
                    <md-icon md-svg-src="../images/pedago.svg"></md-icon>
                </div>

                <p class="md-grid-text">Fiches pédagogiques</p>
            </md-button>

        </md-item>


        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="E-books"
                       ng-change="searchEBook()"
                       ng-model="checkboxSearchEBook">
                <div class="md-icon-container">
                    <md-icon md-svg-src="../images/ebook2.svg"></md-icon>
                </div>

                <p class="md-grid-text">E-books</p>
            </md-button>

        </md-item>

        <md-item>
            <md-button btn-checkbox="" class="md-primary md-grid-item-content"
                       aria-label="Prix littéraires"
                       ng-change="searchPrixLitteraires()"
                       ng-model="checkboxPrixLitteraire">
                <div class="md-icon-container">
                    <md-icon md-svg-src="../images/prix.svg"></md-icon>
                </div>
                <!--<ng-md-icon class="md-icon-container" icon="search" size="34" alt="search">-->
                <p class="md-grid-text">Prix littéraires</p>
            </md-button>

        </md-item>


        <!--<div multi-select
             style="position:relative"
             class="transparent-multi-select-input"
             input-model="parentScope.tags"
             button-label="Name"
             item-label="Name"
             tick-property="ticked"
             helper-elements="reset"
             output-model="parentScope.themeMultiselectmodel"
             default-label="Themes"
             on-item-click="parentScope.filtreThemes()">
        </div>

            <div layout="column" layout-align="center center" style="height: 100px;">
                <md-select ng-model="parentScope.themeMultiselectmodel"
                           multiple="true"
                           style="min-width: 200px;">
                    <md-select-label>{{ parentScope.themeMultiselectmodel.length > 0 ? theme.Name : 'Themes' }}</md-select-label>
                    <md-option ng-value="parentScope.theme" ng-repeat="theme in parentScope.tags">{{theme.Name}}</md-option>
                </md-select>
            </div>-->

        <md-item>
            <md-select ng-model="themeMultiselectmodel" multiple="true">
                <md-select-label>
                    <md-button id="ThemesButton" class="md-primary md-grid-item-content"
                               aria-label="Thèmes">
                        <div class="md-icon-container">
                            <md-icon md-svg-src="../images/themes.svg"></md-icon>
                        </div>
                        <p class="md-grid-text">Thèmes</p>
                    </md-button>
                </md-select-label>
                <md-option ng-value="theme"  ng-repeat="theme in tags | orderBy:'Name'" >{{theme.Name}}</md-option>
            </md-select>
        </md-item>
    </md-list>


    <div class="filter-terms" layout="row" layout-align="center center">
        <div class="tags repeat-item" ng-repeat="searchItem in searchItems">
            <button ng-click="removeFilter(searchItem)" class="btn filterButton">
                {{searchItem.value}}
            </button>
        </div>

        <div class="tags repeat-item" ng-repeat="item in themeMultiselectmodel">
            <button ng-click="removeFilterTheme(item)" class="btn filterButton">
                {{item.Name}}
            </button>
        </div>
    </div>
    

    <section layout="row" flex>
     









        <!--<div class="clear-icon-wrapper">
            <md-button ng-click="openLeft()" class="clear-icon">
                <ng-md-icon icon="{{sideNavIcon}}" size="34" alt="search "></ng-md-icon>
            </md-button>
        </div>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed" md-component-id="left">
         
       
            <ul class="sidebar-nav">
                <div class="inner-search-bar">
                    <input type="text"
                           id="search"
                           ng-model="searchedText"
                           ng-change='validateSearch()'
                           typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
                           typeahead-loading="loadingSearchSuggestions"
                           typeahead-template-url="livreSearchTemplate.html"
                           typeahead-wait-ms="300"
                           
                           typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
                           class="form-control form-control-inline transparentInput" />

                </div>

                <li ng-model="checkboxPrixLitteraire" btn-checkbox ng-change="searchPrixLitteraires()">
                    <a>Prix littéraires</a>
                </li>
                <li ng-model="checkboxSearchEBook" btn-checkbox ng-change="searchEBook()">
                    <a>E-Book</a>
                </li>
                <li class="active" ng-model="niveauLecture" btn-radio="''" ng-change="filtreNiveauLecture()">
                    <a>Tous niveaux</a>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'premierspas'" ng-change="filtreNiveauLecture()">
                    <a>Permiers pas</a>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'debutants'" ng-change="filtreNiveauLecture()">
                    <a>Débutants</a>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'confirmes'" ng-change="filtreNiveauLecture()">
                    <a>Confirmés</a>
                </li>
                <li style="overflow:visible">
                    <div multi-select
                       
                         class="transparent-multi-select-input"
                         input-model="tags"
                         button-label="Name"
                         item-label="Name"
                         tick-property="ticked"
                         helper-elements="reset"
                         output-model="themeMultiselectmodel"
                         default-label="Themes"
                         on-item-click="filtreThemes()">
                    </div>
                </li>


            </ul>
        </md-sidenav>-->
      

            <!-- Page Content -->
            <div id="page-content-wrapper" style="height:100%">
                    <div style="height:100%; padding-bottom: 105px;">
                        <div class="col-lg-12" style="height:100%; padding:0">
                            <div id="booksContainer" class="tilesContainer u-fancy-scrollbar" bg>
                                <!--| orderBy:'Index':true-->
                                <div class="tile isotopey tile-admin {{::item.Titre && 'fil-'+item.Titre || '' | lowercase | nospace}} {{::item.Auteur.Prenom && 'fil-'+item.Auteur.Prenom || ''  | lowercase | nospace}}
                                     {{::item.Auteur.Nom && 'fil-'+item.Auteur.Nom || '' | lowercase | nospace}}
                                     {{::item.PrixLitteraire && 'fil-prix' || ''}}
                                     {{::item.EBookUrl && 'fil-ebook' || ''}}
                                     {{::item.FichePedago && 'fil-pedago' || ''}}
                                     {{::item.NiveauLecture && 'fil-'+item.NiveauLecture || '' | lowercase | nospace}}
                                     {{::item.Tags && item.Tags || '' | filterString}} "
                                ng-repeat=" item in items"
                                     isotopethis sort="date" ng-click="select(item, 'lg', $event)">
                                    <!--href="#responsive" data-toggle="modal"-->
                                    <div class="inner-tile">

                                       

                                        <img class="tile-image" src="{{::apiRootUrl}}/{{::item.Couverture}}" />

                                        <!--<div class="bottomLeft" ng-show="::item.PrixLitteraire">
                                            <a class="transparentButton" href="#"
                                               title="E-book">
                                                <md-icon title="{{::item.PrixLitteraire}}" class="md-icon" md-svg-src="../images/prix.svg"></md-icon>
                                            </a>
                                        </div>

                                        <div class="moreInfoButtonWrapper bottomRight">
                                            <div ng-show="::item.EBookUrl">
                                                <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.EBookUrl}}"
                                                    target="_blank" title="E-book">
                                                    <md-icon class="md-icon" md-svg-src="../images/ebook2.svg"></md-icon>
                                                </a>
                                            </div>

                                            <div ng-show="::item.FichePedago">
                                                <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.FichePedago}}"
                                                   target="_blank" title="Fiche pédagogique">
                                                    <md-icon class="md-icon" md-svg-src="../images/pedago.svg"></md-icon>
                                                </a>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>



    <section>
</div>
<script>



    //$("#menu-toggle").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //});
    //$("#page-content-wrapper").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").removeClass("toggled");
    //    $("#search").removeClass("toggled");
    //    $(".searchSideBar").removeClass("toggled");
    //});


    //$(".searchSideBar").focusin(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").addClass("toggled");
    //    $("#search").addClass("toggled");
    //    $(".searchSideBar").addClass("toggled");
    //});
    
    var $container = $('.tilesContainer');

    // change layout mode
    //$container.isotope({ layoutMode: "masonryHorizontal" });
    $container.isotope({
        layoutMode: 'masonryHorizontal',
        itemSelector: '.isotopey',
        masonry: { rowHeight: 230 },
        getSortData: {
            //weight: function (itemElem) { // function
            //    if (!$(itemElem).scope())
            //        return 0;
            //    if ($(itemElem).scope().item) {
            //        //console.log($(itemElem).scope().item.Index);
            //        return parseFloat($(itemElem).scope().item.Index);
            //    } else {
            //        var weight = $(itemElem).find('.index').text();
            //        //console.log(weight);
            //        return parseFloat(weight.replace(/[\(\)]/g, ''));
            //    }


            //}
            date: function (elem) {

                var scope = $(elem).scope();
                if (!scope)
                    return 0;
                if (scope.item && scope.item.datePublication) {
                    return Date.parse(scope.item.datePublication);
                }
                return 0;
            }
        },




        //sortBy: 'date',
        sortAscending: false,
        // transitionDuration: 0
        // transformsEnabled: true,
        //onLayout: function () {
        //    $container.css('overflow', 'visible');
        //}
    });
   
  
    // Ripple click effect
    var parent, ink, d, x, y;
    $("ul li a").click(function (e) {

        parent = $(this).parent();
        //create .ink element if it doesn't exist
        if (parent.find(".ink").length == 0)
            parent.prepend("<span class='ink'></span>");

        ink = parent.find(".ink");
        //incase of quick double clicks stop the previous animation
        ink.removeClass("animate");

        //set size of .ink
        if (!ink.height() && !ink.width()) {
            //use parent's width or height whichever is larger for the diameter to make a circle which can cover the entire element.
            d = Math.max(parent.outerWidth(), parent.outerHeight());
            ink.css({ height: d, width: d });
        }

        //get click coordinates
        //logic = click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center;
        x = e.pageX - parent.offset().left - ink.width() / 2;
        y = e.pageY - parent.offset().top - ink.height() / 2;
        //set the position and add class .animate
        ink.css({ top: y + 'px', left: x + 'px' }).addClass("animate");
    })
</script>
