<script type="text/ng-template" id="customTemplate.html">
    <a>
        <!--<img ng-src="match.model.Nom" width="16">-->
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Prenom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="livreSearchTemplate.html">
    <a>

        <img src="{{match.model.imageUrl}}" width="40" />
        <span bind-html-unsafe="match.model.Titre | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Prenom | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Nom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="simpleSuggestionTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.Value | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-wrapper">
        <img class="prix" src="images/prix.png" />
        <div class="modal-header">
          
            <div class="row">
                <div class="col-md-10">
                    <h2 class="modal-title">
                        {{::selectedItem.Titre}}
                    </h2>
                </div>
                <div class="col-md-2" style="padding:0">
                    <a class="header-btn commander" href="{{::selectedItem.SiteMarchand}}"
                       target="_blank"
                       ng-show="::selectedItem.SiteMarchand">
                        Commander
                    </a>
                  
                </div>
            </div>


        </div>


        <div class="modal-body">
            <!--<ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">-->

            <div class="row">
                <div class="col-md-4">
                  
                    <img  style="width:100%" ng-show="selectedItem.Couverture" src="{{::apiRootUrl}}/{{selectedItem.Couverture}}" />

                    <p>Publication : {{::selectedItem.datePublication}}</p>
                    <p ng-show="::selectedItem.ISBN">ISBN : {{::selectedItem.ISBN}}</p>
                    <!--<p>{{::selectedItem.Prix}} euros</p>-->

                    <p>
                        <div ng-switch="selectedItem.NiveauLecture">
                            <label ng-switch-when="premierspas">Permiers pas</label>
                            <label ng-switch-when="debutans">Débutants</label>
                            <label ng-switch-when="confirmes">Confirmés</label>
                        </div>
                    </p>


                    <label class="control-label" for="PrixLitteraire" ng-show="::selectedItem.PrixLitteraire">Prix littéraire</label>
                    <p>{{::selectedItem.PrixLitteraire}}</p>
                    <label class="control-label" ng-show="::selectedItem.Tags.length > 0">Thèmes</label>
                    <div class="tags">
                        <button ng-click="$parent.$parent.filtreTheme(tag)"
                                class="btn btn-info"
                                ng-repeat="(idx, tag) in selectedItem.Tags track by $index">
                            {{::tag}}
                        </button>
                    </div>
                
                </div>
                <div class="col-md-8">
                    <label class="control-label" for="Extrait" ng-show="::selectedItem.Extrait">Extrait</label>
                    <p>{{::selectedItem.Extrait}}</p>
                    <br />
                 
                    <p>
                        <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                           target="_blank" title="Fiche pédagogique"
                           ng-show="::selectedItem.FichePedago">
                            <i class="fa fa-file-text" />
                            Fiche pédagogique
                        </a>
                    </p>

                    <p>
                        <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.EBookUrl}}"
                           target="_blank" title="E-book"
                           ng-show="::selectedItem.EBookUrl">
                            <i class="fa fa-tablet" />
                            Version E-book
                        </a>
                    </p>

                    <p>
                        <a class="transparentButton" href="{{::selectedItem.LienIssu}}"
                           target="_blank" title="Fiche pédagogique"
                           ng-show="::selectedItem.LienIssu">
                            Extrait Issu
                        </a>
                    </p>

                    <p>
                        <a class="transparentButton" href="{{::selectedItem.LienVideo}}"
                           target="_blank"
                           ng-show="::selectedItem.LienVideo">
                            Vidéo
                        </a>
                    </p>

                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-close" type="button" ng-click="cancel()">Fermer</button>
        </div>
    </div>
    <br />
    <br />
    <div class="modal-wrapper">
        <div class="modal-header">
            <div class="modal-header-title">
                AUTEUR
            </div>

            <h2 class="modal-title">
                {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
            </h2>


        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="tile-image" ng-show="selectedItem.Auteur.Photo" src="{{selectedItem.Auteur.Photo}}" />
                    <p>
                        <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                           target="_blank" title="Fiche pédagogique"
                           ng-show="::selectedItem.Auteur.LienBiblio">
                            Bibliographie
                        </a>
                    </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <a class="transparentButton" ng-click="$parent.filtreAuteur(selectedItem.Auteur)" href="#">
                            Tous ses livres
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-close" type="button" ng-click="cancel()">Fermer</button>
        </div>
    </div>


</script>

<div class="viewContainer" ng-controller="livreController" ng-init="init()">
    <div class="searchSideBar">
        <div class="inner-search-bar">
            <input type="text"
                   id="search"
                   ng-model="searchedText"
                   typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
                   typeahead-loading="loadingSearchSuggestions"
                   typeahead-template-url="livreSearchTemplate.html"
                   typeahead-wait-ms="300"
                   ng-keyup="validateSearch($event)"
                   typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
                   class="form-control form-control-inline transparentInput" />
            <div class="search-icon"><i class="fa fa-search"></i></div>
            <div id="clearFilter" class="clear-icon transparentInput" ng-click="clearFilters()">
                <i class="fa fa-close"></i>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:100%">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!--<li class="sidebar-brand">
            <a href="#">
                Recherche
            </a>
        </li>-->


                <li ng-model="checkboxPrixLitteraire" btn-checkbox ng-change="searchPrixLitteraires()">
                    <a>Prix littéraires</a>
                    <span ng-show="checkboxPrixLitteraire" class="tickMark">✔</span>
                </li>
                <li ng-model="checkboxSearchEBook" btn-checkbox ng-change="searchEBook()">
                    <a>E-Book</a>
                    <span ng-show="checkboxSearchEBook" class="tickMark">✔</span>
                </li>
                    <!--<pretty-radio value="''" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Tous niveaux'"></pretty-radio>
            <pretty-radio value="'premierspas'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Permiers pas'"></pretty-radio>
            <pretty-radio value="'debutants'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Lecteurs débutants'"></pretty-radio>
            <pretty-radio value="'confirmes'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Lecteurs confirmés'"></pretty-radio>-->
                <li class="active" ng-model="niveauLecture" btn-radio="''" ng-change="filtreNiveauLecture()">
                    <a>Tous niveaux</a>
                    <span ng-show="niveauLecture == ''" class="tickMark">✔</span>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'premierspas'" ng-change="filtreNiveauLecture()">
                    <a>Permiers pas</a>
                    <span ng-show="niveauLecture == 'premierspas'" class="tickMark">✔</span>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'debutants'" ng-change="filtreNiveauLecture()">
                    <a>Débutants</a>
                    <span ng-show="niveauLecture == 'debutants'" class="tickMark">✔</span>
                </li>
                <li style="padding-left:20px;" ng-model="niveauLecture" btn-radio="'confirmes'" ng-change="filtreNiveauLecture()">
                    <a>Confirmés</a>
                    <span ng-show="niveauLecture == 'confirmes'" class="tickMark">✔</span>
                </li>
                <!--http://isteven.github.io/angular-multi-select/-->
                <li>
                    <div multi-select
                         class="transparent-multi-select-input"
                         input-model="tags"
                         button-label="Name"
                         item-label="Name"
                         tick-property="ticked"
                         helper-elements="reset"
                         output-model="themeMultiselectmodel"
                         default-label="Themes"
                         on-item-click="filtreThemes()">
                    </div>
                </li>
                <!--<select id="themes" ng-model="selected" ng-options="item.Name for item in tags"></select>-->
                <!--<div ng-dropdown-multiselect="" options="tags" selected-model="themeMultiselectmodel" extra-settings="themeMultiselectSettings"></div>-->
                <!--<a href="#sortBy=date" ng-click="sort()">by date</a>-->

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="height:100%">
            <div class="container-fluid" style="height:100%">
                <div class="row" style="height:100%; padding-bottom: 105px;">
                    <div class="col-lg-12" style="height:100%; padding:0">
                        
                        <div id="booksContainer" class="tilesContainer u-fancy-scrollbar" bg>
                            <!--| orderBy:'Index':true-->
                            <div class="tile isotopey tile-admin {{::item.Titre &&  'fil-'+item.Titre || '' | lowercase | nospace}} {{::item.Auteur.Prenom && 'fil-'+item.Auteur.Prenom || ''  | lowercase | nospace}}
             {{::item.Auteur.Nom && 'fil-'+item.Auteur.Nom || '' | lowercase | nospace}} {{item.PrixLitteraire && 'fil-prix' || ''}} {{::item.EBookUrl && 'fil-ebook' || ''}}
             {{::item.NiveauLecture && 'fil-'+item.NiveauLecture || '' | lowercase | nospace}}
             {{::item.Tags && item.Tags || '' | filterString}}"
                                 ng-repeat="item in items"
                                 isotopethis sort="date" ng-click="select(item, 'lg', $event)">
                                <!--href="#responsive" data-toggle="modal"-->
                                <div class="inner-tile">
                                    <i title="{{::item.PrixLitteraire}}" class="fa fa-certificate fa-price bottomLeft" ng-show="item.PrixLitteraire"></i>
                                    <img class="tile-image" src="{{::apiRootUrl}}/{{::item.Couverture}}" />

                                    <div class="moreInfoButtonWrapper bottomRight">
                                        <a href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.FichePedago}}" target="_blank" title="Fiche pédagogique" ng-show="item.FichePedago"
                                           class="transparentButton background-circle">
                                            <i class="fa fa-file-text" />
                                        </a>
                                        <a href="{{::apiRootUrl}}/static/{{::item.Id}}/{{::item.EBookUrl}}" target="_blank"
                                           title="E-book"
                                           ng-show="item.EBookUrl"
                                           class="transparentButton background-circle">
                                            <i class="fa fa-tablet" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</div>
<script>



    //$("#menu-toggle").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //});
    $("#page-content-wrapper").click(function (e) {
        e.preventDefault();
        $("#wrapper").removeClass("toggled");
        $("#search").removeClass("toggled");
        $(".searchSideBar").removeClass("toggled");
    });


    $(".searchSideBar").focusin(function (e) {
        e.preventDefault();
        $("#wrapper").addClass("toggled");
        $("#search").addClass("toggled");
        $(".searchSideBar").addClass("toggled");
    });

    var $container = $('.tilesContainer');

    // change layout mode
    //$container.isotope({ layoutMode: "masonryHorizontal" });
    $container.isotope({
        layoutMode: 'masonryHorizontal',
        itemSelector: '.isotopey',
        masonry: { rowHeight: 230 },
        getSortData: {
            //weight: function (itemElem) { // function
            //    if (!$(itemElem).scope())
            //        return 0;
            //    if ($(itemElem).scope().item) {
            //        //console.log($(itemElem).scope().item.Index);
            //        return parseFloat($(itemElem).scope().item.Index);
            //    } else {
            //        var weight = $(itemElem).find('.index').text();
            //        //console.log(weight);
            //        return parseFloat(weight.replace(/[\(\)]/g, ''));
            //    }


            //}
            date: function (elem) {

                var scope = $(elem).scope();
                if (!scope)
                    return 0;
                if (scope.item && scope.item.datePublication) {
                    return Date.parse(scope.item.datePublication);
                }
                return 0;
            }
        },




        //sortBy: 'date',
        sortAscending: false,
       // transitionDuration: 0
       // transformsEnabled: true,
        //onLayout: function () {
        //    $container.css('overflow', 'visible');
        //}
    });

</script>
