<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <location path="indexAdmin.html">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToDB" stopProcessing="true">
                    <match url="^databases/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:0}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
