<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <location path="indexAdmin.html">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>  
    <system.webServer>  
        <rewrite>
            <rules>
                <rule name="ReverseProxyToDB" stopProcessing="true">
                    <match url="^databases/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:0}" logRewrittenUrl="false" />
                </rule>
				 <rule name="AjaxSnapshotsProxy" stopProcessing="true">
                    <!-- test all requests -->
                 <match url="(.*)" />
                    <conditions trackAllCaptures="true">
                        <add input="{QUERY_STRING}" pattern="(.*_escaped_fragment_=)" />
                        <!-- only proxy requests with an _escaped_fragment_ query parameter -->
                    </conditions>
                  
                    <action type="Rewrite" url="http://localhost:3005/Handler.ashx?url=http://{UrlEncode:{HTTP_HOST}{URL}}" logRewrittenUrl="true" appendQueryString="false" />
                </rule>
				  <rule name="AngularJS" stopProcessing="true">
				<match url=".*" />
				<conditions logicalGrouping="MatchAll">
				  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="/index.html" />
			  </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
