.toobar-button-label {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  white-space: nowrap;
  overflow: hidden;
}
.menuBar {
  font: normal 14px/38px Montserrat;
  height: 50px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  width: 100%;
  padding-top: 40px;
  /*display:none;*/
}
.menuBar md-item {
  overflow: visible;
  cursor: pointer;
  position: relative;
  color: white;
  height: 45px;
  width: 45px;
  margin: 0 28px;
}
.menuBar md-item md-select.md-default-theme:focus .md-select-label {
  color: inherit !important;
}
.menuBar md-item.active {
  color: #15feed !important;
}
.menuBar md-item.active md-select.md-default-theme:focus .md-select-label {
  color: #15feed !important;
}
.menuBar md-item.active md-select {
  color: #15feed !important;
}
.menuBar md-item.active md-select :hover {
  color: inherit !important;
}
.menuBar md-item.active md-select :active {
  color: inherit !important;
}
.menuBar md-item.active .md-icon-container md-icon {
  opacity: 0.9;
}
.menuBar md-item.active .md-grid-text {
  opacity: 0.8;
}
.menuBar md-item md-select :hover {
  color: inherit !important;
}
.menuBar md-item md-select :active,
.menuBar md-item md-select :focus {
  color: inherit !important;
}
.menuBar .md-button {
  position: relative;
  text-transform: none;
  height: 100%;
  width: 100%;
  padding: 0;
  color: white !important;
  overflow: visible;
}
.menuBar .md-button > .md-icon-container {
  height: 100%;
  width: 100%;
}
.menuBar .md-button > .md-ripple-container {
  overflow: hidden;
  border-radius: 50%;
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.menuBar .md-icon-container {
  height: 100%;
  width: 100%;
}
.menuBar md-icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  opacity: 0.5;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.menuBar.md-font::before {
  font-size: 2.6em;
  vertical-align: middle;
}
.circle {
  border-radius: 50% !important;
}
.sendFPinnerCircle {
  margin: auto;
  width: 114px;
  height: 114px;
  margin-top: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 15px;
  text-align: center;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.sendFPinnerCircle a {
  font-size: 0.8em;
  text-wrap: normal;
  white-space: normal;
  color: #f3f3f3;
}
.sendFP {
  position: absolute;
  -ms-transform: scale(1) rotate(-10deg);
  -moz-transform: scale(1) rotate(-10deg);
  -webkit-transform: scale(1) rotate(-10deg);
  -o-transform: scale(1) rotate(-10deg);
  transform: scale(1) rotate(-10deg);
  z-index: 100;
  width: 124px;
  height: 124px;
  left: 45px;
  top: 100px;
  background: rgba(1, 172, 160, 0.8);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
.sendFP:hover {
  background: #01dfcf;
}
@media only screen and (max-width: 950px) {
  .sendFP {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .menuBar {
    padding-top: 0;
  }
}
@media only screen and (max-width: 630px) {
  .menuBar {
    padding-top: 0;
  }
  .menuBar p {
    display: none;
  }
  .menuBar md-item {
    height: 35px;
    width: 35px;
    margin: 0 5px;
  }
}
.dropdown-menu {
  z-index: 3000;
  position: absolute !important;
}
.searchButton {
  height: 150px;
  width: 150px;
  overflow: visible;
}
.searchBar {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45px;
  height: 38px;
  opacity: 0;
  min-width: 0;
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.searchBar.toggled {
  width: 150px;
  opacity: 1;
}
@media only screen and (max-width: 630px) {
  .searchBar {
    top: 2px;
    left: auto;
    right: 0;
    width: 308px;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .searchAuteur {
    top: 60%;
    left: 50% !important;
    right: 50% !important;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .searchBar.toggled {
    width: 260px;
  }
}
#searchIcon.toggled {
  opacity: 0.01;
}
#searchitem.toggled {
  opacity: 1;
}
md-autocomplete ul li {
  background-color: white;
  width: 600px;
  height: 65px;
}
md-autocomplete ul {
  background-color: white;
  overflow: visible;
}
/*# sourceMappingURL=menuBar.css.map */