@import "ressources";

/**
    Material Modal

*/
.md-subheader.md-default-theme {
  background-color: transparent;
  margin: 0px; 
}

md-dialog.md-default-theme {
border-radius: 4px;
background-color: transparent;
max-width:700px;
}
md-content.md-default-theme {
 background-color: transparent;
}
md-dialog md-content {
    padding:0;
    overflow: auto;
}

md-dialog {
  overflow: visible;
  box-shadow: none;
}
 md-dialog.transition-in {
    height:80%;

 }
.md-subheader{
    padding:0;
    background:transparent;
}

md-dialog .md-default-theme {
  color:black;
}
/*
    MODAL
*/

.modal-backdrop{
    height:100%;
    background-color:@darkColor;
}

.modal-backdrop.in {
filter: alpha(opacity=70);
opacity: .7;
}

.modal-content{
    color : black;
     background-color:transparent;
background-clip: padding-box;
/* border-radius: 6px; */
border:none;
outline: 0;
-webkit-box-shadow: none;
box-shadow:none;
}



.modal-title{
    color:@textColor;
    float:left;
}
.modal-wrapper {
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-left: auto;
    margin-right: auto;
}
.modal-header{
    background-color:hsla(0, 0%, 0%, 0.9);
    min-height:55px;
    box-shadow: inset 0 0 180px fadeout(@primaryColor,20%);    
    color:@textColor;
       -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    position:relative;
    border-bottom:0;
}
.modal-inner-header{
     box-shadow: inset 0 0 180px lighten(@darkColor,30%);  
     background:white;  
}
.modal-header-title {
    position: absolute;
    left: ~"calc(100% + 85px)";
    top: 0px;
    z-index: -500;
    font-family: 'Arial Black';
    font-size: 65px;
    opacity: .2;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: top left 0;
    -moz-transform-origin: top left 0;
    -webkit-transform-origin: top left 0;
    transform-origin: top left 0;
}

.modal-footer{
    background-color: @textColor;
    box-shadow: inset 0 0 180px lighten(@textColor,10%);    
    color:@textColor;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.modal-body{
  box-shadow: inset 0 0 20px white;    
  background-color: @textColor;
}

@media (min-width: 992px){
    .modal-lg {
    width: 750px;
    }
}



.btn-close{
    color:black;
 }

.prix {
    top: -25px;
    right: -10px;
  position: absolute;
  width: 50px;
  z-index:100;
}

.inline-flex{
    display:inline-flex;
    float:left;
    > md-icon{
        min-width :27px;
        min-height:27px;
    }
}

.md-icon-text{
    margin-left:5px;
}

.flex-col {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
}