@primaryColor: #01ACA0;
@accentColor: #7C4DFF;

@backgroundColor:rgba(255, 255, 255, 0.02);
@darkColor:rgb(44, 44, 44);

@textColor:#f3f3f3;
@pageBackground:@backgroundColor;
@tabBackground:lighten(@backgroundColor,3%);
@toolbarBackground:@tabBackground;

@buttonColor: lighten(@toolbarBackground,10%);
@tilesContainer:lightseagreen;

@modalBackground: fadein(@backgroundColor,30%);

@sizeHideToolbarText : 630px;
@sizeSmallModal : 592px;
@sizeTriggerTMLogo : 1100px;

@prixColor : rgb(242, 156, 15);
