body {
  background-color: transparent;
}

#page-content-wrapper {
    padding:0;
}

#sidebar-wrapper {
    background:none;
}
.sidebar-nav li a {
cursor:pointer;
}
.sidebar-nav li a:hover {
text-decoration: none;
color: #000;
background: rgba(255,255,255,0.2);
}
.active {
    color: #000 !important;
    font-weight:bold;
}

