

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <!--<button class="close" aria-hidden="true" type="button" ng-click="cancel()"><i class="fa fa-times"></i></button>-->
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" data-dismiss="modal">Save changes</button>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">

                <label class="control-label" for="Prenom">Prénom</label>
                <p><input class="modal-title form-control" id="Prenom" ng-model="selectedItem.Prenom" type="text" /></p>

                <label class="control-label" for="Nom">Nom</label>
                <p><input class="modal-title form-control" id="Nom" ng-model="selectedItem.Nom" type="text" /></p>

                <label class="control-label" for="LienBibliographie">Lien Bibliographie</label>
                <p><input class="form-control" id="LienBibliographie" type="text" ng-model="selectedItem.LienBiblio" /></p>

            </div>
            <div class="col-md-6">
                <!--<div class="auteur-placeholder-wrapper" ng-file-drop ng-model="files" class="drop-box dragover"
                     drag-over-class="dragover" multiple="false"
                     allow-dir="false" accept="image/*"
                     ng-file-change="updatePhoto($files, $event)">
                    <img class="tile-image" src="{{::apiRootUrl}}/{{selectedItem.Photo}}" ng-show="selectedItem.Photo" />
                    <i class="fa fa-user fa-placeholder placeholder" ng-show="!selectedItem.Photo"></i>
                </div>-->
                <label class="control-label" for="LienPhoto">Lien Photo</label>
                <p><input class="form-control" id="LienPhoto" type="text" ng-model="selectedItem.Photo" /></p>

                <div ng-file-drop ng-model="files" class="drop-box drop-zone clickable form-control" drag-over-class="dragover" multiple="false"
                     allow-dir="false" accept="*" ng-file-select="" ng-file-change="$parent.updatePhoto($files, $event)">
                    <img style="width:100%" ng-show="selectedItem.Photo" src="{{selectedItem.Photo}}" />
                    <div class="placeholder" ng-hide="selectedItem.Photo">
                        <p class="inner-placeholder">
                            <i class="fa fa-user fa-3 inner-placeholder " />
                        </p>
                    </div>
                    
                </div>



            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" data-dismiss="modal">Save changes</button>

    </div>
</script>



<div class="viewContainer" ng-controller="auteurController"
     ng-init="init()">

    <div class="toolbar">
        <button class="btn btn-success" ng-click="add()">
            <i class="fa fa-user-plus"></i>
        </button>
        <div class="inline-block" style="margin-left:63px;">
            <a class="clickable" ng-click="unFilter()">
                All
            </a>
            <a class="clickable" ng-repeat="item in items | orderByDisplayOrder" ng-click="filterByLetter(item)">
                {{::item}}
            </a>
        </div>
    </div>

    <div id="booksContainer" class="tilesContainer" ng-file-drop ng-model="files" class="drop-box dragover"
         drag-over-class="dragover" multiple="false"
         allow-dir="false" accept="image/*"
         ng-file-change="add($files, $event)">
        <!--| orderBy:'Index':true-->
        <div class="tile isotopey tile-admin filter-{{item.Nom|lowercase}}"
             ng-repeat="item in items"
             isotopethis
             sort="nom"
             ng-click="select(item, $event)">
            <isotopthis></isotopthis>
            <button class="close close-override" title="supprimer"
                    ng-click="delete(item, $event)">
                <i class="fa fa-close"></i>
            </button>

            <div class="inner-tile">
                <div class="placeholder" ng-hide="selectedItem.Photo">
                    <p class="inner-placeholder">
                        <i class="fa fa-user fa-3 inner-placeholder " />
                    </p>
                </div>
                <img class="tile-image" src="{{item.Photo}}" ng-show="item.Photo" />

                <div class="placeholder" ng-hide="item.Photo">
                    <p class="inner-placeholder">
                        <i class="fa fa-user fa-3 inner-placeholder " />
                    </p>
                </div>

                <div class="tile-text-wrapper">
                    <p class="tile-text">{{item.Prenom}} {{item.Nom}}</p>
                </div>



                <div class="moreInfoButtonWrapper">
                    <a href="{{item.LienBiblio}}" data-dismiss="modal" target="_blank" title="Bibliographie" ng-show="item.LienBiblio" class="transparentButton background-circle">
                        <i class="fa fa-leanpub fa-07" />
                    </a>

                </div>
            </div>

        </div>
    </div>



</div>
<script>

    //// hash of functions that match data-filter values
    //var filterFns = {
    //    // show if number is greater than 50
    //    numberGreaterThan50: function () {
    //        var number = $(this).find('.number').text();
    //        return parseInt(number, 10) > 50;
    //    },
    //    // show if name ends with -ium
    //    ium: function () {
    //        var name = $(this).find('.name').text();
    //        return name.match(/^/);
    //    }
    //};
    //// filter items on button click
    //$('#filters').on('click', 'button', function () {
    //    var filterValue = $(this).attr('data-filter');
    //    // use filter function if value matches
    //    filterValue = filterFns[filterValue] || filterValue;
    //    $container.isotope({ filter: filterValue });
    //});


    var $container = $('.tilesContainer');


    // change layout mode
    //$container.isotope({ layoutMode: "masonryHorizontal" });
    $container.isotope({
        layoutMode: 'masonryHorizontal',
        itemSelector: '.isotopey',
        masonryHorizontal: { rowHeight: 20 },
        getSortData: {
            nom: function (elem) {
                var scope = $(elem).scope();
                if (scope && scope.item && scope.item.Nom) {
                    return scope.item.Nom.toLowerCase();
                }
                // permet aux auteurs n'ayant pas de nom d'être ajouté au début de la liste
                return "aaaaaa";
            }
        },

        sortAscending: true,
        transformsEnabled: true,

    });

</script>
