<script type="text/ng-template" id="customTemplate.html">
    <a>
        <!--<img ng-src="match.model.Nom" width="16">-->
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Prenom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="livreSearchTemplate.html">
    <a>

        <img src="{{match.model.imageUrl}}" width="40" />
        <span bind-html-unsafe="match.model.Titre | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Prenom | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.Auteur.Nom | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="simpleSuggestionTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.Value | typeaheadHighlight:query"></span>
    </a>
</script>


<script type="text/ng-template" id="myModalContent.html">

    <div class="modal-header">
        <div class="col-md-7">
            <input class="modal-title form-control" placeholder="Titre" ng-model="selectedItem.Titre" type="text" />

        </div>
        <!--<button class="close" aria-hidden="true" type="button" ng-click="cancel()"><i class="fa fa-times"></i></button>-->
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" data-dismiss="modal">Save changes</button>


    </div>
    <div class="modal-body">
        <!--<ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">-->

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">

                        <!--<p><pretty-radio value="'premiersPas'" ng-model="selectedItem.NiveauLecture" label="'Permiers pas'"></pretty-radio></p>
                    <p><pretty-radio value="'debutants'" ng-model="selectedItem.NiveauLecture" label="'Lecteurs débutants'"></pretty-radio></p>
                    <p><pretty-radio value="'confirmes'" ng-model="selectedItem.NiveauLecture" label="'Lecteurs confirmés'"></pretty-radio></p>-->

                        <label class="control-label" for="Couverture">Couverture</label>

                        <div ng-file-drop ng-model="files" class="drop-box drop-zone clickable form-control" drag-over-class="dragover" multiple="false"
                             allow-dir="false" accept="*" ng-file-select="" ng-file-change="$parent.updateAttachment($files, $event, 'Couverture')">
                            <img style="width:100%" ng-show="selectedItem.Couverture" src="{{::apiRootUrl}}/{{selectedItem.Couverture}}" />
                            <div class="placeholder" ng-hide="selectedItem.Couverture">
                                <p class="inner-placeholder">
                                    <i class="fa fa-download fa-2 inner-placeholder " />
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">

                        <label class="control-label" for="DatePub">Publication</label>
                        <p class="input-group">
                            <input type="text" id="DatePub" class="form-control small"
                                   datepicker-popup="dd/MM/yyyy"
                                   ng-model="selectedItem.datePublication"
                                   min-date="'1800-01-01'"
                                   max-date="'2015-06-22'"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   is-open="$parent.opened"
                                   close-text="close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$parent.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>

                        <label class="control-label" for="Prix">Prix</label>
                        <p><input class="form-control" id="Prix" type="text" ng-model="::selectedItem.Prix" /></p>
                        <label class="control-label" for="ISBN">ISBN</label>
                        <p><input class="form-control" id="ISBN" type="text" ng-model="::selectedItem.ISBN" /></p>

                    </div>
                </div>

                <p>
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-primary" ng-model="selectedItem.NiveauLecture" btn-radio="'premierspas'">Permiers pas</label>
                        <label class="btn btn-primary" ng-model="selectedItem.NiveauLecture" btn-radio="'debutants'">Débutants</label>
                        <label class="btn btn-primary" ng-model="selectedItem.NiveauLecture" btn-radio="'confirmes'">Confirmés</label>
                    </div>
                </p>


                <tags item="selectedItem" entityname="Livre"></tags>
                <label class="control-label" for="PrixLitteraire">Prix littéraire</label>
                <p>
                    <input type="text"
                           id="PrixLitteraire"
                           ng-model="selectedItem.PrixLitteraire"
                           typeahead="val.Value for val in $parent.getPrixSuggestions($viewValue)"
                           typeahead-loading="loadingSearchSuggestions"
                           typeahead-template-url="simpleSuggestionTemplate.html"
                           class="form-control">
                    </input>
                </p>
                <label class="control-label" for="LienEbook">Lien E-book</label>
                <p><input id="LienEbook" class="form-control" type="text" ng-model="selectedItem.EBookUrl" /></p>
                <label class="control-label" for="LienIssu">Lien Issuu</label>
                <p><input class="form-control" id="LienIssu" type="text" ng-model="selectedItem.LienIssu" /></p>
                <label class="control-label" for="Extrait">Extrait</label>
                <p><textarea class="form-control" id="Extrait" rows="5" type="text" ng-model="selectedItem.Extrait" /></p>

            </div>
            <div class="col-md-6">

                <label class="control-label" for="Auteur">Auteur</label>
                <input type="text"
                       id="Auteur"
                       ng-model="selectedItem.Auteur"
                       typeahead="val as val.Nom for val in $parent.searchAuteurSuggestions($viewValue) | filter:$viewValue"
                       typeahead-loading="loadingSearchSuggestions"
                       typeahead-template-url="customTemplate.html"
                       class="form-control">
                </input>

                <p>{{selectedItem.Auteur.Prenom}} {{selectedItem.Auteur.Nom}}</p>
                <img class="tile-image" ng-show="selectedItem.Auteur.Photo" src="{{selectedItem.Auteur.Photo}}" />

                <label class="control-label" for="FichePedago">Fiche Pédagogique</label>
                <p>

                    <div ng-file-drop ng-model="files" class="drop-box drop-zone form-control"
                         drag-over-class="dragover" multiple="false"
                         allow-dir="false" accept="*"
                         ng-file-change="$parent.addFile($files, $event, 'FichePedago')">
                        <a href="{{::apiRootUrl}}/static/{{selectedItem.Id}}/{{selectedItem.FichePedago}}" target="_blank" ng-show="selectedItem.FichePedago">{{selectedItem.FichePedago}}</a>
                       
                        <div class="placeholder" ng-hide="selectedItem.FichePedago">
                            <p class="inner-placeholder">
                                <i class="fa fa-download fa-2 inner-placeholder " />
                            </p>
                        </div>


        </div>
            </p>

            <label class="control-label" for="SiteMarchand">Site marchand</label>
            <p><input class="form-control" id="SiteMarchand" type="text" ng-model="selectedItem.SiteMarchand" /></p>
            <label class="control-label" for="LienVideo">Lien Vidéo</label>
            <p><input class="form-control" id="LienVideo" type="text" ng-model="selectedItem.LienVideo" /></p>

        </div>

    </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" data-dismiss="modal">Save changes</button>

    </div>
</script>


<div class="viewContainer " ng-controller="livreController"
     ng-init="init()">

    <div class="toolbar">
        <button class="btn btn-primary" ng-click="add()">
            <i class="fa fa-user-plus"></i>
        </button>

        <label class="btn btn-primary" ng-model="checkboxPrixLitteraire" btn-checkbox ng-change="searchPrixLitteraires()"><i title="testes" class="fa fa-certificate"></i> Prix littéraires</label>
        <label class="btn btn-primary" ng-model="checkboxSearchEBook" btn-checkbox ng-change="searchEBook()"><i class="fa fa-tablet" /> E-Book</label>
        <!--<pretty-radio value="''" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Tous niveaux'"></pretty-radio>
        <pretty-radio value="'premierspas'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Permiers pas'"></pretty-radio>
        <pretty-radio value="'debutants'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Lecteurs débutants'"></pretty-radio>
        <pretty-radio value="'confirmes'" ng-model="niveauLecture" ng-change="filtreNiveauLecture()" label="'Lecteurs confirmés'"></pretty-radio>-->

        <div class="btn-group">
            <label class="btn btn-primary active" ng-model="niveauLecture" btn-radio="''" ng-change="filtreNiveauLecture()">Tous niveaux</label>
            <label class="btn btn-primary" ng-model="niveauLecture" btn-radio="'premierspas'" ng-change="filtreNiveauLecture()">Permiers pas</label>
            <label class="btn btn-primary" ng-model="niveauLecture" btn-radio="'debutants'" ng-change="filtreNiveauLecture()">Débutants</label>
            <label class="btn btn-primary" ng-model="niveauLecture" btn-radio="'confirmes'" ng-change="filtreNiveauLecture()">Confirmés</label>
        </div>

        <!--http://isteven.github.io/angular-multi-select/-->
        <div multi-select
             class="inline-block"
             input-model="tags"
             button-label="Name"
             item-label="Name"
             tick-property="ticked"
             helper-elements="reset"
             output-model="themeMultiselectmodel"
             default-label="Themes"
             on-item-click="filtreThemes()">
        </div>
        <!--<select id="themes" ng-model="selected" ng-options="item.Name for item in tags"></select>-->
        <!--<div ng-dropdown-multiselect="" options="tags" selected-model="themeMultiselectmodel" extra-settings="themeMultiselectSettings"></div>-->

        <input type="text"
               id="searchLivre"
               ng-model="searchedText"
               placeholder="Recherche"
               typeahead="val as val.Titre for val in searchLivreSuggestions($viewValue)"
               typeahead-loading="loadingSearchSuggestions"
               typeahead-template-url="livreSearchTemplate.html"
               typeahead-wait-ms="300"
               ng-keyup="validateSearch($event)"
               typeahead-on-select="validateSearchFromLivre($item, $model, $label, $viewValue)"
               class="form-control form-control-inline search" />

        <!--<a href="#sortBy=date" ng-click="sort()">by date</a>-->
    </div>

    <div id="booksContainer" class="tilesContainer drop-box" ng-file-drop ng-model="files"
         drag-over-class="dragover" multiple="true"
         allow-dir="false" accept="image/*"
         ng-file-change="addLivreByDragAndDrop($files, $event)">
        <!--| orderBy:'Index':true-->
        <div class="tile isotopey tile-admin fil-{{item.Titre | lowercase | nospace}} {{item.Auteur.Prenom && 'fil-'+item.Auteur.Prenom || ''  | lowercase | nospace}}
             {{item.Auteur.Nom && 'fil-'+item.Auteur.Nom || '' | lowercase | nospace}} {{item.PrixLitteraire && 'fil-prix' || ''}} {{item.EBookUrl && 'fil-ebook' || ''}}
             {{item.NiveauLecture && 'fil-'+item.NiveauLecture || '' | lowercase | nospace}}
             {{item.Tags && item.Tags || '' | filterString}}"
             ng-repeat="item in items"
             isotopethis sort="date" ng-click="select(item, lg, $event)">
            <button class="close close-override" title="supprimer"
                    ng-click="deleteLivre(item, $event)">
                <i class="fa fa-close"></i>
            </button>
            <!--href="#responsive" data-toggle="modal"-->
            <div class="inner-tile">
                <i title="{{item.PrixLitteraire}}" class="fa fa-certificate fa-price" ng-show="item.PrixLitteraire"></i>
                <img class="tile-image" src="{{::apiRootUrl}}/{{item.Couverture}}" />

                <div class="tile-text-wrapper">
                    <p class="tile-text">{{item.Titre}}</p>
                    <!--<p href="#responsive" data-toggle="modal" class="tile-text">{{item.Titre.replace($scope.whiteSpacePattern,'')}}</p>-->
                </div>

                <div class="moreInfoButtonWrapper topRight">
                    <a href="{{::apiRootUrl}}/static/{{::item.Id}}/{{item.FichePedago}}" target="_blank" title="Fiche pédagogique" ng-show="item.FichePedago"
                       class="transparentButton background-circle">
                        <i class="fa fa-file-text" />
                    </a>
                    <a href="{{::apiRootUrl}}/static/{{::item.Id}}/{{item.EBookUrl}}" target="_blank"
                       title="E-book"
                       ng-show="item.EBookUrl"
                       class="transparentButton background-circle">
                        <i class="fa fa-tablet" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
<script>

   
    $(document)
    		.one('focus.textarea', '.autoExpand', function () {
    		  
    		})

    var $container = $('.tilesContainer');

    // change layout mode
    //$container.isotope({ layoutMode: "masonryHorizontal" });
    $container.isotope({
        layoutMode: 'masonryHorizontal',
        itemSelector: '.isotopey',
        masonry: { rowHeight: 230 },
        getSortData: {
            //weight: function (itemElem) { // function
            //    if (!$(itemElem).scope())
            //        return 0;
            //    if ($(itemElem).scope().item) {
            //        //console.log($(itemElem).scope().item.Index);
            //        return parseFloat($(itemElem).scope().item.Index);
            //    } else {
            //        var weight = $(itemElem).find('.index').text();
            //        //console.log(weight);
            //        return parseFloat(weight.replace(/[\(\)]/g, ''));
            //    }


            //}
            date: function (elem) {

                var scope = $(elem).scope();
                if (!scope)
                    return 0;
                if (scope.item && scope.item.datePublication) {
                    return Date.parse(scope.item.datePublication);
                }
                return 0;
            }
        },




        //sortBy: 'date',
        sortAscending: false,
       // transitionDuration: 0
       // transformsEnabled: true,
        //onLayout: function () {
        //    $container.css('overflow', 'visible');
        //}
    });

</script>
