<md-dialog msd-wheel="modalMouseWheel($event, $delta, $deltaX, $deltaY)" aria-label="{{::selectedItem.Nom}}">

    <div class="modal-header">

        <a class="iconedLink close-button" ng-click="closeDialog()">
            <div class="inline-flex">
                <md-icon class="md-icon" md-svg-src="images/close.svg"></md-icon>
            </div>
        </a>


        <div layout="column" layout-align="center center">
            <h1 class="modal-title title" style="margin-top:12px">
                {{::selectedItem.Prenom}} {{::selectedItem.Nom|uppercase}}
            </h1>
        </div>


    </div>
    <md-content>
        <div class="modal-wrapper">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5" style="min-width:320px;">
                        <img class="tile-image" ng-show="selectedItem.Photo" src="{{::selectedItem.Photo}}" />
                        <br /><br /><br />
                    </div>
                    <div class="col-md-6" style="min-width:250px">
                        <div class="flex-col">

                            <a class="iconedLink" ng-show="::selectedItem.LienBiblio" href="{{::selectedItem.LienBiblio}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/biblio.svg"></md-icon>
                                    <span class="iconedLink-text">sa biographie</span>
                                </div>
                            </a>
                            <a class="iconedLink" ui-sref="collection({auteur:selectedItem.Prenom + ' ' + selectedItem.Nom})" ng-click="parentScope.voirTousSesLivres(selectedItem); closeDialog()">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/toutesSesPetitesPoches.svg"></md-icon>
                                    <span class="iconedLink-text">voir toutes ses Petite Poche</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                </div>


                    <!--<div class="col-md-5" style="min-width:320px;">
                        <img class="tile-image" src="{{::selectedItem.Photo}}" />
                    </div>
                    <div class="col-md-8">
                        <div class="flex-col">
                            <div class="md-icon-container inline-flex" ng-show="::selectedItem.LienBiblio">
                                <div class="md-icon-text">
                                    <a class="transparentButton" href="{{::selectedItem.LienBiblio}}" target="_blank">
                                        Bibliographie
                                    </a>
                                </div>
                            </div>
                            <div class="md-icon-container inline-flex">
                                <div class="md-icon-text">
                                    <a class="transparentButton" ui-sref="collection({auteur:selectedItem.Prenom + ' ' + selectedItem.Nom})" ng-click="parentScope.voirTousSesLivres(selectedItem); closeDialog()">
                                        Toutes les petites poches de {{::selectedItem.Prenom}} {{::selectedItem.Nom|uppercase}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>-->
            </div>
        </div>

    </md-content>
</md-dialog>