<md-dialog msd-wheel="modalMouseWheel($event, $delta, $deltaX, $deltaY)" aria-label="{{::selectedItem.Titre}}">

    <div class="modal-header">
        <a class="iconedLink close-button" ng-click="closeDialog()">
            <div class="inline-flex">
                <md-icon class="md-icon" md-svg-src="images/close.svg"></md-icon>
            </div>
        </a>


        <div layout="column" layout-align="center center">
            <h1 class="modal-title" style="font-size:1.5em">
                {{::selectedItem.Titre}}
            </h1>
            <h3 class="modal-title" style="margin-top:-10px; font-size:1em">
                {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
            </h3>
        </div>
        
    </div>
    <md-content>
        <div class="modal-wrapper">
            <div class="modal-body">

                <!--<img class="prix" src="images/prix.png" />
                <a class="header-btn filterButton" href="{{::selectedItem.SiteMarchand}}"
                   target="_blank"
                   ng-show="::selectedItem.SiteMarchand">
                    Commander
                </a>-->

                <div class="row">
                    <div class="col-md-4" style="min-width:180px;">
                        <img class="tile-image" src="{{::parentScope.apiRootUrl}}/{{::selectedItem.Couverture}}" />

                        <p>Publication : {{::selectedItem.datePublication | dateCleaner}}</p>
                        <p ng-show="::selectedItem.ISBN">ISBN : {{::selectedItem.ISBN}}</p>

                        <div>
                            <div class="md-icon-container inline-flex">
                                <md-icon class="md-icon" md-svg-src="images/niveaux.svg"></md-icon>
                                <div class="md-icon-text" ng-switch="selectedItem.NiveauLecture">
                                    <span ng-switch-default>Tous niveaux</span>
                                    <span ng-switch-when="premierspas">Permiers pas</span>
                                    <span ng-switch-when="debutans">Débutants</span>
                                    <span ng-switch-when="confirmes">Confirmés</span>
                                </div>
                            </div>

                            <div class="md-icon-container inline-flex" ng-show="selectedItem.PrixLitteraire.length">
                                <md-icon class="md-icon" md-svg-src="images/prix.svg"></md-icon>
                                <div class="md-icon-text">
                                    <span>{{::selectedItem.PrixLitteraire}}</span>
                                </div>
                            </div>


                            <div class="md-icon-container inline-flex" ng-show="selectedItem.Tags.length > 0">
                                <md-icon class="md-icon" md-svg-src="images/themes.svg"></md-icon>
                                <div class="md-icon-text">
                                    <button ng-click="parentScope.filtreThemes(tag)"
                                            class="btn filterButton dark"
                                            ng-repeat="(idx, tag) in selectedItem.Tags track by $index">
                                        {{::tag}}
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-8" style="min-width:250px">
                        <div style="margin-top:-6px" ng-show="::selectedItem.Extrait">
                            <label class="control-label" for="Extrait">Extrait</label>
                            <p>{{::selectedItem.Extrait}}</p>
                        </div>

                        <div class="flex-col">
                            <a class="iconedLink" ng-show="::selectedItem.FichePedago" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/pedago.svg"></md-icon>
                                    <span class="iconedLink-text">Fiche pédagogique</span>
                                </div>
                            </a>

                            <a class="iconedLink" ng-show="::selectedItem.EBookUrl" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.EBookUrl}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/ebook2.svg"></md-icon>
                                    <span class="iconedLink-text">Version E-book</span>
                                </div>
                            </a>
                            <a class="iconedLink" ng-show="::selectedItem.LienIssu" href="{{::selectedItem.LienIssu}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/issuu.svg"></md-icon>
                                    <span class="iconedLink-text">Extrait Issu</span>
                                </div>
                            </a>
                            <a class="iconedLink" ng-show="::selectedItem.LienVideo" href="{{::selectedItem.LienVideo}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/ebook2.svg"></md-icon>
                                    <span class="iconedLink-text">Vidéo</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-wrapper">
            <div class="modal-header modal-inner-header">
                <h2 class="modal-title">
                    {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
                </h2>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" style="min-width:180px;">
                        <img class="tile-image" ng-show="selectedItem.Auteur.Photo" src="{{::selectedItem.Auteur.Photo}}" />
                    </div>
                    <div class="col-md-8">
                        <div class="flex-col">
                            <div class="md-icon-container inline-flex" ng-show="::selectedItem.Auteur.LienBiblio">
                                <div class="md-icon-text">
                                    <a class="transparentButton" href="{{::selectedItem.Auteur.LienBiblio}}" target="_blank">
                                        Bibliographie
                                    </a>
                                </div>
                            </div>
                            <div class="md-icon-container inline-flex">
                                <div class="md-icon-text">
                                    <a class="transparentButton" ng-click="parentScope.filtreAuteur(selectedItem.Auteur); closeDialog()">
                                        Voir tous ses livres
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="md-button md-default-theme" ng-click="closeDialog()">
                    <span>Fermer</span>
                </button>

            </div>
        </div>

    </md-content>
</md-dialog>