<md-dialog msd-wheel="modalMouseWheel($event, $delta, $deltaX, $deltaY)" aria-label="{{::selectedItem.Titre}}">

    <div class="modal-header">

     
        <img class="prix" src="images/prix.png" />

        <div layout="row" layout-align="space-between center" style="margin-bottom:10px">
                <h2 class="modal-title">
                    {{::selectedItem.Titre}}
                </h2>
                <a class="header-btn commander" href="{{::selectedItem.SiteMarchand}}"
                   target="_blank"
                   ng-show="::selectedItem.SiteMarchand">
                    Commander
                </a>
        </div>
    </div>
    <md-content>
        <div class="modal-wrapper">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img style="width:100%" ng-show="selectedItem.Couverture" src="{{::apiRootUrl}}/{{selectedItem.Couverture}}" />

                        <p>Publication : {{::selectedItem.datePublication}}</p>
                        <p ng-show="::selectedItem.ISBN">ISBN : {{::selectedItem.ISBN}}</p>
                        <p>
                            <div ng-switch="selectedItem.NiveauLecture">
                                <label ng-switch-when="premierspas">Permiers pas</label>
                                <label ng-switch-when="debutans">Débutants</label>
                                <label ng-switch-when="confirmes">Confirmés</label>
                            </div>
                        </p>


                        <label class="control-label" for="PrixLitteraire" ng-show="::selectedItem.PrixLitteraire">Prix littéraire</label>
                        <p>{{::selectedItem.PrixLitteraire}}</p>
                        <label class="control-label" ng-show="::selectedItem.Tags.length > 0">Thèmes</label>
                        <div class="tags">
                            <button ng-click="parentScope.filtreTheme(tag)"
                                    class="btn btn-info"
                                    ng-repeat="(idx, tag) in selectedItem.Tags track by $index">
                                {{::tag}}
                            </button>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <label class="control-label" for="Extrait" ng-show="::selectedItem.Extrait">Extrait</label>
                        <p>{{::selectedItem.Extrait}}</p>
                        <br />

                        <p>
                            <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                               target="_blank" title="Fiche pédagogique"
                               ng-show="::selectedItem.FichePedago">
                                <i class="fa fa-file-text" />
                                Fiche pédagogique
                            </a>
                        </p>

                        <p>
                            <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.EBookUrl}}"
                               target="_blank" title="E-book"
                               ng-show="::selectedItem.EBookUrl">
                                <i class="fa fa-tablet" />
                                Version E-book
                            </a>
                        </p>

                        <p>
                            <a class="transparentButton" href="{{::selectedItem.LienIssu}}"
                               target="_blank" title="Fiche pédagogique"
                               ng-show="::selectedItem.LienIssu">
                                Extrait Issu
                            </a>
                        </p>

                        <p>
                            <a class="transparentButton" href="{{::selectedItem.LienVideo}}"
                               target="_blank"
                               ng-show="::selectedItem.LienVideo">
                                Vidéo
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-wrapper">
            <div class="modal-header modal-inner-header">
                <h2 class="modal-title">
                    {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
                </h2>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="tile-image" ng-show="selectedItem.Auteur.Photo" src="{{::selectedItem.Auteur.Photo}}" />
                        <p>
                            <a class="transparentButton" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                               target="_blank" title="Fiche pédagogique"
                               ng-show="::selectedItem.Auteur.LienBiblio">
                                Bibliographie
                            </a>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <button class="md-button md-default-theme" ng-click="parentScope.filtreAuteur(selectedItem.Auteur); closeDialog()">
                                <span>Voir tous ses livres</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="md-button md-default-theme" ng-click="closeDialog()">
                    <span>Fermer</span>
                </button>

            </div>
        </div>
        </div>
    </md-content>
</md-dialog>