<md-dialog msd-wheel="modalMouseWheel($event, $delta, $deltaX, $deltaY)" aria-label="{{::selectedItem.Titre}}">

    <div class="modal-header">
        <a class="iconedLink close-button" ng-click="closeDialog()">
            <div class="inline-flex">
                <md-icon class="md-icon" md-svg-src="images/close.svg"></md-icon>
            </div>
        </a>


        <div layout="column" layout-align="center center">
            <h1 class="modal-title title" >
                {{::selectedItem.Titre}}
            </h1>
            <h3 class="modal-title subtitle" >
                {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
            </h3>
        </div>
        

        <img class="prix" src="images/prix.png" />
        <a class="flat-btn commander-btn" href="{{::selectedItem.SiteMarchand}}"
           target="_blank"
           ng-show="::selectedItem.SiteMarchand">
            commander
        </a>
    </div>
    <md-content class="u-fancy-scrollbar-light">
        <div class="modal-wrapper">
            <div class="modal-body">


                <div class="row">
                    <div class="col-md-5" style="min-width:320px;">
                        <img class="tile-image" src="{{::parentScope.apiRootUrl}}/{{::selectedItem.Couverture}}" />
                        <br /><br />
                        <p><span class="labelText">publié le </span>{{::selectedItem.datePublication | dateCleaner}}</p>
                        <p ng-show="::selectedItem.ISBN"><span class="labelText">isbn </span>{{::selectedItem.ISBN}}</p>
                        <p><span class="labelText">format </span>10,5 x 15 cm</p>
                        <p>48 pages</p>
                        <p ng-show="::selectedItem.PrixLitteraire.length"><span class="labelText">{{::selectedItem.PrixLitteraire}}</span></p>

                        <p ng-show="selectedItem.Tags.length > 0">
                            <!--<md-icon class="md-icon" md-svg-src="images/themes.svg"></md-icon>-->
                            <span class="labelText">thèmes</span>

                            <a class="simple-link" ng-click="parentScope.filtreThemes(tag)"
                               ng-repeat="(idx, tag) in selectedItem.Tags track by $index">
                                {{::tag | lowercase }}
                            </a>
                        </p>
                        <!--<md-icon class="md-icon" md-svg-src="images/niveaux.svg"></md-icon>-->
                        <p class="labelText" ng-switch="selectedItem.NiveauLecture">
                            <span ng-switch-default>tous niveaux</span>
                            <span ng-switch-when="premierspas">permiers pas</span>
                            <span ng-switch-when="debutans">débutants</span>
                            <span ng-switch-when="confirmes">confirmés</span>
                        </p>
                    </div>
                    <div class="col-md-6" style="min-width:250px">
                        <div style="margin-top:-6px" ng-show="::selectedItem.Extrait">
                            <p class="extrait-header">extrait</p>
                            <p class="extrait">{{::selectedItem.Extrait}}</p>
                        </div>
                        <br />
                        <div class="flex-col">
                            <a class="iconedLink" ng-show="::selectedItem.FichePedago" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.FichePedago}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/pedago.svg"></md-icon>
                                    <span class="iconedLink-text">fiche pédagogique</span>
                                </div>
                            </a>

                            <a class="iconedLink" ng-show="::selectedItem.EBookUrl" href="{{::apiRootUrl}}/static/{{::selectedItem.Id}}/{{::selectedItem.EBookUrl}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/ebook2.svg"></md-icon>
                                    <span class="iconedLink-text">version e-book</span>
                                </div>
                            </a>
                            <a class="iconedLink" ng-show="::selectedItem.LienIssu" href="{{::selectedItem.LienIssu}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/issuu.svg"></md-icon>
                                    <span class="iconedLink-text">extrait Issuu</span>
                                </div>
                            </a>
                            <a class="iconedLink" ng-show="::selectedItem.LienVideo" href="{{::selectedItem.LienVideo}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/ebook2.svg"></md-icon>
                                    <span class="iconedLink-text">vidéo</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br /><br /><br />
            </div>
        </div>
        <div class="modal-wrapper">
            <div class="modal-header-inner">
                <div layout="column" layout-align="center center" style="min-height:80px">
                    <h1 class="modal-title title">
                        {{::selectedItem.Auteur.Prenom}} {{::selectedItem.Auteur.Nom}}
                    </h1>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5" style="min-width:320px;">
                        <img class="tile-image" ng-show="selectedItem.Auteur.Photo" src="{{::selectedItem.Auteur.Photo}}" />
                        <br /><br /><br />
                    </div>
                    <div class="col-md-6" style="min-width:250px">
                        <div class="flex-col">

                            <a class="iconedLink" ng-show="::selectedItem.Auteur.LienBiblio" href="{{::selectedItem.Auteur.LienBiblio}}"
                               target="_blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/biblio.svg"></md-icon>
                                    <span class="iconedLink-text">sa biographie</span>
                                </div>
                            </a>
                            <a class="iconedLink" ng-click="parentScope.filtreAuteur(selectedItem.Auteur); closeDialog()"
                               target=" _blank">
                                <div class="inline-flex">
                                    <md-icon class="md-icon" md-svg-src="images/toutesSesPetitesPoches.svg"></md-icon>
                                    <span class="iconedLink-text">voir toutes ses Petite Poche</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                </div>
            </div>
        </div>

    </md-content>
</md-dialog>